@using ECommerceApplication.App.Auth
@using ECommerceApplication.App.ViewModels
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
<div>
	<h1 class="h2 font-weight-normal login-title">
		<button class="btn btn-primary" @onclick="OnLogout">Logout</button>
	</h1>
</div>
@code {
    public async void OnLogout()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}
