<div class="navbar">
    <div class="logo">
        <img src="/icon-512.png" alt="Logo">
    </div>
    <div class="app-name-box">
        <a class="app-name" href="">ECommerce</a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search">
        <button type="submit">
            <svg class="search-icon text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
        </button>
    </div>
    <div class="profile-tab">
        <NavLink class="profile-button" href="/myaccount">
            <img src="/no_profile_picture.png" alt="Profile Image" class="profile-image">
            My Account
        </NavLink>
    </div>
    <div class="cart-tab">
        <NavLink class="profile-button" href="/cart">
            <button class="cart-button">
                <svg class="cart-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1" />
                </svg>
                My Cart
            </button>
        </NavLink>
    </div>
</div>