@using ECommerceApplication.App.Auth
@using ECommerceApplication.App.ViewModels
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ECommerceApplication.App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView.Authorized>
        <div class="nav-item px-3">
            <div class="nav-link" @onclick="OnLogout">
                <span class="bi bi-person-x" aria-hidden="true"></span> LogOut
            </div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categoryoverview">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addcategory">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
              <NavLink class="nav-link" href="updatecategory">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Update Category
             </NavLink>
         </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productoverview">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Products
            </NavLink>
        </div>
         <div class="nav-item px-3">
                <NavLink class="nav-link" href="addproduct">
                      <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Product
                 </NavLink>
         </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addressoverview">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Adresses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addaddress">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Adress
            </NavLink>
        </div>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView.Authorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        </Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public async void OnLogout()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}
