@using ECommerceApplication.App.Auth
@using ECommerceApplication.App.ViewModels
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<div class="custom-nav-menu">
    <nav>
        <ul>
            <li><NavLink href="productoverview">Products</NavLink></li>
            <li><NavLink href="categoryoverview">Categories</NavLink></li>
            <li><NavLink href="addcategory">Add Category</NavLink></li>
            <li><NavLink href="updatecategory">Update Category</NavLink></li>
            <li><NavLink href="addproduct">Add Product</NavLink></li>
            <li><NavLink href="updateproduct">Update Product</NavLink></li>
            <li><NavLink href="orderitemoverview">OrderItems</NavLink></li>
            <li><NavLink href="addorderitem">Add OrderItem</NavLink></li>
            <li><NavLink href="updateorderitem">Update OrderItem</NavLink></li>
            <li><NavLink href="addressoverview">Addresses</NavLink></li>
            <li><NavLink href="addaddress">Add Address</NavLink></li>
            <li><NavLink href="shoppingcartoverview">Shopping Carts</NavLink></li>
            <li><NavLink href="getbyidshoppingcart">GetById ShoppingCart</NavLink></li>
            <li><div @onclick="OnLogout">LogOut</div></li>
        </ul>
    </nav>
</div>

@code {
    public async void OnLogout()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}
