@page "/categoryoverview"
@using ECommerceApplication.App.Contracts
@using ECommerceApplication.App.ViewModels

<h3>Category Overview</h3>

<br />

<p><input class="custom-checkbox" type="checkbox" id="includeHistory" @onchange="OnIncludeHistoryChanged" /> Include past events?</p>

@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col">Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                <tr>
                    <td>@category.CategoryName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public ICategoryDataService CategoryDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<CategoryViewModel> Categories { get; set; }
}

@functions {
    protected override async Task OnInitializedAsync()
    {
        Categories = (await CategoryDataService.GetCategoriesAsync()).ToList();
    }

    private void OnIncludeHistoryChanged(ChangeEventArgs e)
    {
        if ((bool)e.Value)
        {
            NavigationManager.NavigateTo("/categoryoverview?includeHistory=true");
        }
        else
        {
            NavigationManager.NavigateTo("/categoryoverview");
        }
    }
}
