html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.custom-page {
    display: flex;
    background-color: #f2f2f7;
}

.custom-main {
    height: 100%;
}


.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content px-4{
    margin: 0;
}

.article{
    margin:0;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: #b32121;
    color: white;
    padding: 1rem;
}

#blazor-error-ui::after {
    content: "An error has occurred.";
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

code {
    color: #c02d76;
}

/*Home*/

.home-container {
    width: 100%;
}

.home-pic{
    width: 100%;
    height:auto;
}


/*Nav Bar*/
.navbar {
    background-color: white;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 3.2rem;
    cursor: pointer;
}

.search-bar {
    display: flex;
    margin-left: 0.8rem;
}

.search-bar input::placeholder {
    color: #999;
    font-style: italic;
    font-size: 1.2rem;
}

.search-bar input:focus::placeholder {
    color: #666;
    font-style: normal;
}

.search-bar input {
    padding: 0.6rem;
    width: 52vw;
    border: 1px solid rebeccapurple;
    border-radius: 15px;
    margin-right: -3rem;
}

.search-bar input:focus {
    border: 1px solid rebeccapurple;
    outline: none;
    box-shadow: 0 0 5px rebeccapurple;
}

.search-bar button {
    background-color: rebeccapurple;
    color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rebeccapurple;
    padding: 0.6rem;
    cursor: pointer;
    width: 4rem;
}

.search-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.profile-tab,
.cart-tab {
display: flex;
align-items: center;
margin-left: 0.1rem;
}

.profile-button,
.cart-button {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.profile-tab img {
    width: 2rem; 
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.7rem;
}

.cart-tab svg {
    color: rebeccapurple;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
}

@media screen and (max-width: 1300px) {
    .search-bar input {
        width: 39vw;
    }
}

@media screen and (max-width: 1100px) {
    .search-bar input {
        width: 37vw;
    }
}

@media screen and (max-width: 1000px) {
    .search-bar input {
        width: 30vw;
    }
}

@media screen and (max-width: 870px) {
    .search-bar input {
        width: 25vw;
    }

    .app-name {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {

    .logo img {
        height: 3rem;
    }

    .app-name-box {
        padding: 0;
    }

    .app-name {
        font-size: 0;
    }

    .search-bar input {
        width: 55vw;
    }

    .profile-button,
    .cart-button {
        font-size: 0; /* Hide text */
    }
}

@media screen and (max-width: 570px) {
    .search-bar input {
        width: 40vw;
    }
}



/*NavMenu*/

.custom-nav-menu {
    background: linear-gradient(to bottom, rebeccapurple, #9542f5); /* Set your background color */
    color: white; /* Set your text color */
    padding: 10px; /* Add padding as needed */
    width: 18%;
}

.custom-nav-menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-nav-menu nav ul li {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid white; /* Add a border between items */
}

.custom-nav-menu nav ul li:last-child {
    border-bottom: none; /* Remove the border from the last item */
}

.custom-nav-menu nav ul li a {
    text-decoration: none;
    color: white; /* Set your link color */
    display: block; /* Display links as block elements */
}

.custom-nav-menu nav ul li div {
    cursor: pointer;
}




/*Product Overview*/

.products-content-container {
    background-color: #f2f2f7;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.product-card {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    background-color: white;
    border-radius: 5px;
    transition: transform 0.2s ease;
    cursor: pointer;
    flex-direction: column;
}

.product-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1100px) {
    .product-card {
        flex: 1 0 calc(33% - 20px);
    }
}

@media screen and (max-width: 876px) {
    .product-card {
        flex: 1 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .product-card {
        flex: 1 0 calc(100% - 20px);
    }
}

.product-details {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.product-name{
    font-size:medium;
    font-weight:bold;
}

.product-description {
    color: #555;
}

.product-price {
    color: #e44d26;
    font-weight: bold;
    font-size:larger;
    text-align: left;
    margin-bottom: 5px;
    margin-top:10px;
}

.product-name {
    text-align: left;
    margin-bottom: 8px;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.add-to-cart-button {
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 8px; 
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-top: auto;
}

.add-to-cart-button:hover {
    background-color: mediumpurple;
    color: #fff;
}

.shopping-cart-icon {
    margin-right: 20%;
    width:1.3rem;
}

.adding-to-cart-text{
    text-align:center;
}

.result-count-card {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    margin-bottom:0;
    text-align: left;
}

.result-count-text {
    font-size: 30px;
    margin: 0;
}

.results-query-text {
    font-size: 34px;
}


/*Category Overview*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.category-card {
    background-color: white;
    width: calc(25% - 20px);
    margin-bottom: 1.3rem;
    box-sizing: border-box;
    border: 2.5px solid rebeccapurple;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.category-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-card svg {
    width: 100%;
    height: 7rem;
    object-fit: cover;
    padding: 0.5rem;
}

.category-card .card-content {
    text-align:center;
    padding: 0.2rem;
}



/*Product Details*/
.details-content-container {
    background-color: white;
}

.product-detail {
    display: flex;
    flex-direction: column;
}

.category-and-title {
    margin-bottom: 1%;
    margin-top: 1%;
}

.product-info {
    display: flex;
}

.product-image-container {
    flex: 1;
}

.price-and-button {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.price-container {
    margin-bottom: 10px;
}

.price-button-card-container {
    border: 1px solid #ddd; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 1rem;
}

.product-price-details {
    color: #e44d26;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1vh;
    font-size: 4vh;
}

.sold-shipped-text{
    margin-bottom: 0.5vh;
}


.product-description {
    margin-top: 20px;
}

.add-to-cart-button-details {
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-top: auto;
}

.add-to-cart-button-details:hover {
    background-color: mediumpurple;
    color: #fff;
}

.shopping-cart-icon-details {
    margin-right: 20%;
    background-color: white;
    border-radius: 3px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

@media screen and (max-width: 1000px) {
    .product-info {
        display: flex;
        flex-direction: column;
    }
    .product-image-container {
        flex: 0;
    }

    .price-and-button {
        margin-top: 2rem;
        margin-right: 0;
    }
}